/* ------------------------- INITIAL RESET ------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: #101418;
  font-family: Linux Libertine", "Georgia", "Times", "Source Serif 4", serif;
}

/* ------------------------- HEADER ------------------------- */

.header {
  width: 100vw;
  margin: 3.5rem auto .5rem;
}

.header-title {
  text-align: center;
}
.header-title-svg {
  fill: #ffffff;
}

.header-subtitle {
  text-align: center;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.95rem;
  font-weight: 400;
}

/* ------------------------- MAIN ------------------------- */

/* ------------------------- MAIN-NAV ------------------------- */

.main {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.main-nav {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  position: relative;
}

.nav-lang-left {
  /* background-color: blue; */
}

.nav-lang1 {
  position: relative;
  top: -47px;
  right: -40px;
}

.nav-lang2 {
  position: relative;
  top: -25px;
  right: 15px;
}

.nav-lang3 {
  position: relative;
  top: 1px;
  right: 37px;
}

.nav-lang4 {
  position: relative;
  top: 25px;
  right: 11px;
}

.nav-lang5 {
  position:relative;
  top: 50px;
  right: -60px;
}

.nav-lang6 {
  position: relative;
  top: -47px;
  right: 9px;
}

.nav-lang7 {
  position: relative;
  top: -25px;
  right: -43px;
}

.nav-lang8 {
  position: relative;
  top: 1px;
  right: -55px;
}

.nav-lang9 {
  position: relative;
  top: 25px;
  right: -43px;
}

.nav-lang10 {
  position:relative;
  top: 50px;
  right: 14px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.nav-link:hover {
  background-color: #27292d;
}

.nav-link:hover .nav-link-1 {
  text-decoration: underline;
}

.nav-link-1 {
  color: #88a3e8;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
}

.nav-link-2 {
  color: #a2a9b1;
  font-size: 0.8rem;
}

/* ------------------------- MAIN-SEACRH ------------------------- */

.main-search {
  /* background-color: red; */
  margin: 70px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-search-form {
  /* background-color: green; */
  width: 450px;
  height: 44px;
  border: 1px solid #72777d;
  border-radius: 2px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.main-search-box1 {
  /* background-color: yellow; */
  width: 86%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-search-input {
  background-color: #101418;
  width: 82%;
  height: 100%;
  color: #dce2cd;
  font-size: 1rem;
  padding: 10px 0 10px 15px;
}

.main-search-input:focus {
  border: 1.5px solid #6485d1;
  outline: 1px solid transparent;
  box-shadow: inset 0 0 0 1px #6485d1;
}

.main-search-select-container {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-search-select {
  background-color: #101418;
  color: #a2a9b1;
  font-size: 0.8rem;
  text-align: center;
  appearance: none;  /* Elimina la flecha por defecto de la etiqueta select */
  
}

.main-search-select:hover {
  background-color: #353739;
  cursor: pointer;
}

/* Para generar la flecha lateral */
.main-search-select-container::after {
  content: "";
  background-image: url("./img/arrow_down.svg");background-repeat: repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  color: #a2a9b1;
  position: relative;
  left: 3px;
}

.main-search-box2 {
  background-color: #3366cc;
  width: 14%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search-icon {
  /* background-image: url('./img/searc_icon.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* display: inline-block; */
  width: 25px;
  height: 25px;
}