/* ------------------------- INITIAL RESET ------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #101418;
  font-family: Linux Libertine", "Georgia", "Times", "Source Serif 4", serif;
}

/* ------------------------- HEADER ------------------------- */

.header {
  width: 100vw;
  margin: 3.5rem auto .5rem;
}

.header-title {
  text-align: center;
}
.header-title-svg {
  fill: #ffffff;
}

.header-subtitle {
  text-align: center;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.95rem;
  font-weight: 400;
}

/* ------------------------- MAIN ------------------------- */

/* ------------------------- MAIN-NAV ------------------------- */

.main {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.main-nav {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  position: relative;
}

.nav-lang-left {
  /* background-color: blue; */
}

.nav-lang1 {
  position: relative;
  top: -47px;
  right: -40px;
}

.nav-lang2 {
  position: relative;
  top: -25px;
  right: 15px;
}

.nav-lang3 {
  position: relative;
  top: 1px;
  right: 37px;
}

.nav-lang4 {
  position: relative;
  top: 25px;
  right: 11px;
}

.nav-lang5 {
  position:relative;
  top: 50px;
  right: -60px;
}

.nav-lang6 {
  position: relative;
  top: -47px;
  right: 9px;
}

.nav-lang7 {
  position: relative;
  top: -25px;
  right: -43px;
}

.nav-lang8 {
  position: relative;
  top: 1px;
  right: -55px;
}

.nav-lang9 {
  position: relative;
  top: 25px;
  right: -43px;
}

.nav-lang10 {
  position:relative;
  top: 50px;
  right: 14px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.nav-link:hover {
  background-color: #27292d;
}

.nav-link:hover .nav-link-1 {
  text-decoration: underline;
}

.nav-link-1 {
  color: #88a3e8;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
}

.nav-link-2 {
  color: #a2a9b1;
  font-size: 0.8rem;
}

/* ------------------------- MAIN-SEACRH ------------------------- */

.main-search {
  /* background-color: red; */
  margin: 70px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}